{{ define "advertise" }}
    <div class="page">
        {{ template "header" }}
        <div class="pink-section">
            <div class="header-container">
                <h3 class="box-header pink-header">Advertise</h3>
            </div>
            <p id="advertise-box-message" class="box-message">
                moarchan is the original and largest English-language image board with over 22 million monthly visitors worldwide. Our boards cover a wide array of interests, including Video Games, Anime, Television, Film, Comics, Technology, Fitness, and Cars. Advertisers have the option of displaying their ads across the entire site for huge reach, or picking and choosing boards to target their audience's interests.<br />
                We offer managed campaigns on a CPM or flat rate basis. Our managed campaigns feature advanced capabilities such as geo-targeting, frequency capping, road-blocking, and detailed reporting.<br />
                For more information about managed campaigns, please e-mail <a class="blue-text-link" href="mailto:advertise@moarchan.org" alt="advertise@moarchan.org" target="_blank">advertise@moarchan.org</a> with details about what you'd like to advertise, your budget, and flight dates. A representative will respond to your inquiry as soon as possible.<br />
                <span class="red-text">Note: We do not work with ad networks. If you represent a network, please do not e-mail us, as we will not respond to your inquiry.</span>
                <span class="advertise-line"></span>
                <span class="advertise-pitch">Want to advertise on moarchan, but not ready for a managed campaign? Try our <span class="blue-text-link" data-rt-href="/self-serve">Self-Serve Ads</span> option! [<span class="blue-text-link" data-rt-href="/self-serve-faq">Learn More</span>]</span>
            </p>
        </div>
        <div class="left-container">
            <section id="advertise-ad-units" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">Ad Units</h3>
                </div>
            </section>
        </div><div class="right-container">
            <section id="advertise-stats" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Stats</h3>
                </div>
            </section>
            <section id="advertise-demographic" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Demographic</h3>
                </div>
            </section>
        </div>
        {{ template "main-footer" }}
    </div>
{{ end }}
