{{ define "blotter" }}
        <div class="blotter-container">
            <ul class="blotter">
                <li class="blotter-item">10/01/14 <span class="red-text">Happy 11th Birthday, Moarchan!</span></li>
                <li class="blotter-item">10/01/14 News Post: <span class="blue-text">HAPPY 11TH BIRTHD-</span></li>
                <li class="blotter-item">08/12/14 Blog Post: <span class="blue-text">Sayonara E-mail field, and delayed thread pruning</span></li>
            </ul>
            <div class="blotter-buttons">
                <div class="hide-blotter-container">[<span class="hide-blotter blue-text">Hide</span>]</div>
                <div class="show-all-blotter-container">[<span class="show-all-blotter blue-text">Show All</span>]</div>
                <div class="show-blotter-container hide">[<span class="show-blotter blue-text">Show Blotter</span>]</div>
            </div>
        </div>
{{ end }}
