{{ define "faq" }}
    <div class="page">
        {{ template "header" }}
        <div class="pink-section">
            <div class="header-container">
                <h3 class="box-header pink-header">Frequently Asked Questions</h3>
            </div>
            <p class="box-message">
                Welcome to Moarchan's <strong>F</strong>requently <strong>A</strong>sked <strong>Q</strong>uestions page. After reading the FAQ, be sure to familiarize yourself with the <span class="blue-text-link" data-rt-href="/rules">rules</span>!
            </p>
        </div>
        <div class="left-container">
            <section id="faq-questions" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">Questions</h3>
                </div>
            </section>
        </div><div class="right-container">
            <section id="faq-basics" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Basics</h3>
                </div>
            </section>
            <section id="faq-culture" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Culture</h3>
                </div>
            </section>
            <section id="faq-contribution" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Contribution</h3>
                </div>
            </section>
            <section id="faq-features" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Features</h3>
                </div>
            </section>
            <section id="faq-issues" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Issues</h3>
                </div>
            </section>
            <section id="faq-administration" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Administration</h3>
                </div>
            </section>
            <section id="faq-banishment" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Banishment</h3>
                </div>
            </section>
            <section id="faq-technical" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Technical</h3>
                </div>
            </section>
            <section id="faq-donations" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Donations</h3>
                </div>
            </section>
            <section id="faq-events" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Events</h3>
                </div>
            </section>
            <section id="faq-about" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">About</h3>
                </div>
            </section>
        </div>
        {{ template "main-footer" }}
    </div>
{{ end }}
