{{ define "main-footer" }}
        <nav class="main-footer">
            <li class="main-footer-item" data-rt-href="/" title="Home">Home
            </li><li class="main-footer-item" data-rt-href="/news" title="News">News
            </li><li class="main-footer-item" data-rt-href="/blog" title="Blog">Blog
            </li><li class="main-footer-item" data-rt-href="/faq" title="FAQ">FAQ
            </li><li class="main-footer-item" data-rt-href="/rules" title="Rules">Rules
            </li><li class="main-footer-item" data-rt-href="/advertise" title="Advertise">Advertise
            </li><li class="main-footer-item" data-rt-href="/press" title="Press">Press</li>
        </nav>
        <div class="lower-footer">
            <ul class="lower-footer-list">
                <li class="lower-footer-item" data-rt-href="/about" title="About">About
                </li><li class="lower-footer-item" data-rt-href="/feedback" title="Feedback">Feedback
                </li><li class="lower-footer-item" data-rt-href="/legal" title="Legal">Legal
                </li><li class="lower-footer-item" data-rt-href="/contact" title="Contact">Contact</li>
            </ul>
            <p class="copyright">Copyright &copy; 2015 MoarChan, LLC. All rights reserved.</p>
        </div>
{{ end }}
