{{ define "press" }}
    <div class="page">
        {{ template "header" }}
        <div class="pink-section">
            <div class="header-container">
                <h3 class="box-header pink-header">Press</h3>
            </div>
            <p class="box-message">
                Since its creation in 2003, moarchan has grown to become one of the world's largest forums, serving approximately 615,000,000 page impressions to over 22,000,000 unique visitors per month (~11 MM in the US). The website is mainly popular amongst young adults, and its imageboard format is based fully on user-generated content. Users post in a variety of interest-themed imageboards, including Video Games, Anime, Lifestyle and Technology.
                <br />
                <br />
                moarchan.org is one of the highest-trafficked US sites according to Alexa and Quantcast, and is ranked by Big-Boards as being the 2nd largest BBS in the world. moarchan is credited with spawning a number of wildly popular internet memes, including LOLcats, the rapid rise to popularity of Tay "Chocolate Rain" Zonday, and "Rickrolling"—among many others.
                <br />
                <br />
                Press/media inquiries: <a class="blue-text-link" href="mailto:press@moarchan.org" alt="press@moarchan.org" target="_blank">press@moarchan.org</a>.
            </p>
        </div>
        <div class="left-container">
            <section id="print-in-the-news-2011" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">In the news, 2011</h3>
                </div>
            </section>
            <section id="print-in-the-news-2010" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">In the news, 2010</h3>
                </div>
            </section>
            <section id="print-in-the-news-2009" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">In the news, 2009</h3>
                </div>
            </section>
            <section id="print-in-the-news-2008" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">In the news, 2008</h3>
                </div>
            </section>
            <section id="print-featured-on" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">Featured on...</h3>
                </div>
            </section>
            <section id="print-april-fools" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">April Fool's!</h3>
                </div>
            </section>
            <section id="print-memes" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">
                        Memes
                        <span id="print-show-more-memes" class="show-more">[Show More]</span>
                    </h3>
                </div>
            </section>
        </div><div class="right-container">
            <section id="press-print" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">
                        Print
                        <span id="print-show-more-print" class="show-more">[Show More]</span>
                    </h3>
                </div>
            </section>
            <section id="press-mentions" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">
                        Mentions
                        <span id="print-show-more-print" class="show-more">[Show More]</span>
                    </h3>
                </div>
            </section>
        </div>
        {{ template "main-footer" }}
    </div>
{{ end }}
