{{ define "rules" }}
    <div class="page">
        {{ template "header" }}
        <div class="pink-section">
            <div class="header-container">
                <h3 class="box-header pink-header">Rules</h3>
            </div>
            <p class="box-message">
                By using this website (the "site"), you agree that you'll follow these rules, and understand that if we reasonably think you haven't followed these rules, we may (at our own discretion) terminate your access to the site:
            </p>
        </div>
        <div class="left-container">
            <section id="rules-boards" class="green-section">
                <div class="header-container">
                    <h3 class="box-header green-header">Boards</h3>
                </div>
            </section>
        </div><div class="right-container">
            <section id="rules-global-rules" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Global Rules</h3>
                </div>
            </section>
            <section id="rules-image-boards" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Image Boards</h3>
                </div>
            </section>
            <section id="rules-upload-boards" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">Upload Boards</h3>
                </div>
            </section>
            <section id="rules-irc" class="blue-section">
                <div class="header-container">
                    <h3 class="box-header blue-header">IRC</h3>
                </div>
            </section>
        </div>
        {{ template "main-footer" }}
    </div>
{{ end }}
