{{ define "top" }}
    <div class="reply-box hide" style="top: 100px; left: 100px;">
        <h2 class="reply-box-header">Reply to Thread No. <span class="reply-box-header-text"></span><img class="reply-box-close" src="/static/images/cross-red.png" alt="close" title="close" /></h2>
        <input id="reply-box-name" class="reply-box-input" type="text" name="name" placeholder="Name" />
        <input id="reply-box-options" class="reply-box-input" type="text" name="options" placeholder="Options" />
        <textarea id="reply-box-comment" class="reply-box-textarea" rows="auto" cols="auto"></textarea>
        <div class="reply-box-buttons">
            <input id="reply-box-file" class="reply-box-file" type="file" />
            <button class="reply-box-post grey-button" type="button">Post</button>
        </div>
    </div>
    <div>
        <nav class="topics-nav">
            <li data-rt-href="/a" title="/a">[ <span>a</span> /
            </li><li data-rt-href="/b" title="/b"><span>b</span> /
            </li><li data-rt-href="/c" title="/c"><span>c</span> /
            </li><li data-rt-href="/d" title="/d"><span>d</span> /
            </li><li data-rt-href="/e" title="/e"><span>e</span> /
            </li><li data-rt-href="/f" title="/f"><span>f</span> /
            </li><li data-rt-href="/g" title="/g"><span>g</span> /
            </li><li data-rt-href="/gif" title="/gif"><span>gif</span> /
            </li><li data-rt-href="/h" title="/h"><span>h</span> /
            </li><li data-rt-href="/hr" title="/hr"><span>hr</span> /
            </li><li data-rt-href="/k" title="/k"><span>k</span> /
            </li><li data-rt-href="/m" title="/m"><span>m</span> /
            </li><li data-rt-href="/o" title="/o"><span>o</span> /
            </li><li data-rt-href="/p" title="/p"><span>p</span> /
            </li><li data-rt-href="/r" title="/r"><span>r</span> /
            </li><li data-rt-href="/s" title="/s"><span>s</span> /
            </li><li data-rt-href="/t" title="/t"><span>t</span> /
            </li><li data-rt-href="/u" title="/u"><span>u</span> /
            </li><li data-rt-href="/v" title="/v"><span>v</span> /
            </li><li data-rt-href="/vr" title="/vr"><span>vr</span> /
            </li><li data-rt-href="/w" title="/w"><span>w</span> /
            </li><li data-rt-href="/wg" title="/wg"><span>wg</span> /
            </li><li data-rt-href="/i" title="/i"><span>i</span> /
            </li><li data-rt-href="/ic" title="/ic"><span>ic</span> /
            </li><li data-rt-href="/r9k" title="/r9k"><span>r9k</span> /
            </li><li data-rt-href="/s4s" title="/s4s"><span>s4s</span> /
            </li><li data-rt-href="/cm" title="/cm"><span>cm</span> /
            </li><li data-rt-href="/hm" title="/hm"><span>hm</span> /
            </li><li data-rt-href="/lgbt" title="/lgbt"><span>lgbt</span> /
            </li><li data-rt-href="/y" title="/y"><span>y</span> /
            </li><li data-rt-href="/3" title="/3"><span>3</span> /
            </li><li data-rt-href="/adv" title="/adv"><span>adv</span> /
            </li><li data-rt-href="/an" title="/an"><span>an</span> /
            </li><li data-rt-href="/asp" title="/asp"><span>asp</span> /
            </li><li data-rt-href="/biz" title="/biz"><span>biz</span> /
            </li><li data-rt-href="/cgl" title="/cgl"><span>cgl</span> /
            </li><li data-rt-href="/ck" title="/ck"><span>ck</span> /
            </li><li data-rt-href="/co" title="/co"><span>co</span> /
            </li><li data-rt-href="/diy" title="/diy"><span>diy</span> /
            </li><li data-rt-href="/fa" title="/fa"><span>fa</span> /
            </li><li data-rt-href="/fit" title="/fit"><span>fit</span> /
            </li><li data-rt-href="/gd" title="/gd"><span>gd</span> /
            </li><li data-rt-href="/hc" title="/hc"><span>hc</span> /
            </li><li data-rt-href="/int" title="/int"><span>int</span> /
            </li><li data-rt-href="/jp" title="/jp"><span>jp</span> /
            </li><li data-rt-href="/lit" title="/lit"><span>lit</span> /
            </li><li data-rt-href="/mlp" title="/mlp"><span>mlp</span> /
            </li><li data-rt-href="/mu" title="/mu"><span>mu</span> /
            </li><li data-rt-href="/n" title="/n"><span>n</span> /
            </li><li data-rt-href="/out" title="/out"><span>out</span> /
            </li><li data-rt-href="/po" title="/po"><span>po</span> /
            </li><li data-rt-href="/pol" title="/pol"><span>pol</span> /
            </li><li data-rt-href="/sci" title="/sci"><span>sci</span> /
            </li><li data-rt-href="/soc" title="/soc"><span>soc</span> /
            </li><li data-rt-href="/sp" title="/sp"><span>sp</span> /
            </li><li data-rt-href="/tg" title="/tg"><span>tg</span> /
            </li><li data-rt-href="/toy" title="/toy"><span>toy</span> /
            </li><li data-rt-href="/trv" title="/trv"><span>trv</span> /
            </li><li data-rt-href="/tv" title="/tv"><span>tv</span> /
            </li><li data-rt-href="/vp" title="/vp"><span>vp</span> /
            </li><li data-rt-href="/wsg" title="/wsg"><span>wsg</span> /
            </li><li data-rt-href="/x" title="/x"><span>x</span> ]
            </li><li class="home-link" data-rt-href="/" title="Home">[ <span>Home</span> ]
            </li><li class="settings-link">[ <span>Settings</span> ]</li>
        </nav>
        <img class="topic-image" src="/static/images/topic-image.png" alt="" title="" />
        <h1 class="topic-header"></h1>
        <hr class="top-line one" />
        <p class="support-moarchan">Please <span data-rt-href="/support" class="blue-text">support Moarchan</span> by disabling your ad blocker on *.moarchan.org/*, <span data-rt-href="/self-serve" class="blue-text">purchasing a self-serve ad</span>, or <span data-rt-href="/pass" class="blue-text">buying a moarchan Pass.</span></p>
        <hr class="top-line two" />
{{ end }}
